@import './_variables';

* {
  box-shadow: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

a.active {
	color: #f1f1f1;
}

html {
  background: $light-grey;
}

body {
  color: $white;
  margin: auto;
  max-width: 1024px;

  // header
  header {
    align-items: center;
    background: $dark-color;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    a {
      color: rgba($white, .5);
    	padding-bottom: 5px;
    	position: relative;
      text-decoration: none;
    }
    a:hover {
        color: $white;
    }
    a.active:after {
    	background: $white;
    	content: '';
    	height: 2px;
    	position: absolute;
    	bottom: -4px;
    	left: 0;
    	width: 100%;
    }
    nav {
      display: flex;
      justify-content: space-around;
    }
  }
  // Showcase
  .showcase {
      align-items: center;
      background-color: $primary-color;
      background-image: url(../img/2.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 50vh;
      object-fit: cover;
      opacity: .9;
      text-align: center;
      h2 {
        color: $white;
        letter-spacing: 1px;
        margin-bottom: 10px;
        padding: 10px;
        position: relative;
      }
      h2:after {
        background: $secondary-color;
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: 80%;
      }
      p {
        letter-spacing: 1px;
      }
  }

  // Main
  main {
    background: $dark-color;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    section {
      display: flex;
      flex-basis: 75%;
      justify-content: space-evenly;
      margin-bottom: 1em;
      article {
        align-items: center;
        background: linear-gradient(to bottom right, $primary-color, $secondary-color);
        box-shadow: 0 0 4px $white;
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        img {
          border: 4px solid $primary-color;
          border-radius: 50%;
          height: 6em;
          padding: .5em;
          width: 6em;
        }
        h4 {
          color: $white;
          letter-spacing: 1px;
          font-size: 1.3em;
          font-weight: 500;
          margin-bottom: 1em;
          position: relative;
        }
        h4:after {
          background: $white;
          bottom: -10px;
          content: '';
          height: 3px;
          left: 0;
          position: absolute;
          width: 100%;
        }
        p {
          color: $dark-color;
        }
      }
    }

    // Sidebar
    aside {
      background: $dark-color;
      flex-basis: 25%;
      button {
        background: $primary-color;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 2px 2px $secondary-color;
        color: $white;
        padding: .6em .8em;
        transition: background 200ms ease-out;
      }
      button:hover {
        background: $yellow;
      }
      h3 {
        color: $light-grey;
        letter-spacing: 1px;
        padding: .7em;
        position: relative;
        text-align: center;
      }
      h3:after {
        background: $light-grey;
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        width: 30%;
      }
      ul {
        margin: 1em 1.5em;
        li {
          color: $yellow;
          cursor: pointer;
          padding: .7em 0;
        }
        li:hover {
          text-decoration: underline;
        }
      }

    }
  }

  // Footer
  footer {
    background: $dark-color;
    border-top: 0;
    box-shadow: 0 0 2px $white;
    padding: 1em;
    text-align: center;
  }

}
