block contents
  section
    article
      img(src='./img/html5.png')
      h4 HTML5
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia, nisl eu
        semper ultrices, erat neque scelerisque turpis, vel mattis enim ipsum vel erat.
        Phasellus tincidunt accumsan neque, a maximus dui.
    article
      img(src='./img/css3-logo.png')
      h4 CSS3
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia, nisl eu
        semper ultrices, erat neque scelerisque turpis, vel mattis enim ipsum vel erat.
        Phasellus tincidunt accumsan neque, a maximus dui.
    article
      img(src='./img/js-logo.png')
      h4 Javascript
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia, nisl eu
        semper ultrices, erat neque scelerisque turpis, vel mattis enim ipsum vel erat.
        Phasellus tincidunt accumsan neque, a maximus dui.
