doctype
html
  head
    title First Page
    link(rel='stylesheet' href='./css/index.css')
  body
    block contents
      include ./_header

    block contents
      include ./_slider

    block contents
      include ./_main

    block contents
      include ./_footer
